.auth-container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
  
  .auth-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .auth-container label {
    display: block;
    margin-bottom: 5px;
  }
  
  .auth-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .auth-container button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .auth-container button:hover {
    background-color: #0056b3;
  }

  a {
    padding: 10px 20px;
    font-size: 0.8rem;
    background-color: #dce1e6;
    color: rgb(17, 14, 14);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.3s;
  }
  
  nav {
    display: flex;
    justify-content: center; /* можно заменить на flex-end для правого края */
    gap: 20px; /* расстояние между ссылками */
    margin-top: 20px;
    flex-wrap: wrap; /* ссылки будут переноситься при сужении экрана */
  }